/* 顏色設定 */
:root{
    --body-background: #eaefe6;
    --body-font-color: #666666;
    --body-light-font-color: #ffffff;
    --menu-background: #a7c3a7;
    --menu-select-font-color: #333333;
    --bulletin-font-color: #a94442;
    --bulletin-background-color: #f2dede;
    --area-background: #fcfcfc;
    --title-font-color: #333333;
    --en-title-font-color:#666666;
    --course-list-odd-background: #eaefe6;
    --course-list-red-font: #f78da7;
    --button-background: #809186;
    --button-hover-background: #A9C3A7;
    --button-shadow: #cccccc;
    --elearn-login-user-icon: url("/images/user.png");
    --elearn-login-lock-icon: url("/images/lock.png");
    --elearn-float-nav-close-icon: url("/images/close.png");
    --select-courses-this-page-background-color: #A9C3A7;
    --select-courses-this-page-font-color: #ffffff;
    --ambulace-table-error-font-color: #f78da7;

}

/* 深色模式顏色設定 */
html[data-theme=dark]{
    --body-background: #111111;
    --body-font-color: #CFCFD1;
    --menu-background: #363636;
    --menu-select-font-color: #96b97d;
    --bulletin-font-color: #f2dede;
    --bulletin-background-color: #7c3331;
    --area-background: #242424;
    --title-font-color: #96b97d;
    --en-title-font-color: #527539;
    --course-list-odd-background: #363636;
    --course-list-red-font: rgb(197, 54, 54);
    --button-background: #363636;
    --button-hover-background: #565656;
    --button-shadow: #323232;
    --elearn-login-user-icon: url("/images/user_white.png");
    --elearn-login-lock-icon: url("/images/lock_white.png");
    --elearn-float-nav-close-icon: url("/images/close_white.png");
    --select-courses-this-page-background-color: #363636;
    --select-courses-this-page-font-color: #96b97d;
}




body{
    justify-content: center;
    background-color: var(--body-background);
    font-family: "Montserrat", "Noto Sans TC", Helvetica, Arial, "微軟正黑體", Heiti TC, "メイリオ", sans-serif;
    font-size: 16px;
    color: var(--body-font-color);
    margin: 0;
}

a, a:visited{
    text-decoration: none;
    color: var(--body-font-color);
}

body nav{
    display: flex;
    justify-content: center;
}


/* 選單列 */
.menu_bar{
    position: fixed;
    background-color: var(--menu-background);
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    z-index: 100;
}

.menu_bar ul{
    flex: none;
    display: flex;
    width: 60%;
    height: 50px;
    margin: 0;
}

.menu_bar ul li{
    width: 150px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.menu_bar ul li a{
    width: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: var(--menu-select-font-color);
}

.enTxt{
    text-align: center;
    position: relative;
    display: block;
    flex: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    top: 15px;
    transition: top 0.3s ease-out;
    color: var(--body-font-color);
    white-space:nowrap;
}

.chTxt{
    text-align: center;
    position: relative;
    display: block;
    flex: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    top: 39px;
    transition: top 0.3s ease-out;
    color: var(--body-font-color);
    white-space:nowrap;
}

.menu_bar ul li:hover span.enTxt{
    top: -35px;
}

.menu_bar ul li:hover span.chTxt{
    top: -11px;
}

.menu_bar_menu{
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("/images/menu.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.member{
    margin-left: 100px;
    display: flex;
    align-items: center;
}

#lightSwitch{
    display: flex;
    flex: none;
    width: 52px;
    height: 26px;
    border-radius: 100px;
    align-items: center;
    background-color: var(--area-background);
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

#buttonSunMoon{
    display: flex;
    background-image: url("./html/images/moon.svg"), url("./html/images/sun.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 0px, 22px;
    position: relative;
    width: 42px;
    height: 18px;
    
}


#lightSwitchButton{
    background-color: var(--body-font-color);
    width: 18px;
    height: 18px;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
    left: 0;
}

#lightSwitchButton[data-theme=dark]{
    left: 22px;
    transition: 0.3s;
}

.menu_gray_screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.menu_bar_right_area{
    position: fixed;
    background-color: var(--area-background);
    width: 200px;
    left: 100%;
    top: 60px;
    transform: translateX(-100%);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
    z-index: 1;
}

.menu_bar_right_area ul{
    margin: 0;
    padding-inline-start: 0;
}


.menu_bar_right_area ul li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}



.menu_bar_right_area ul li a:hover{
    color: var(--button-hover-background);
}

@media (max-width: 1300px) {
    .menu_bar ul li{
        width: 120px;
    }
    
    .menu_bar ul li a{
        font-size: 14px;
    }

    .enTxt{
        font-size: 14px;
        top: 11px;
    }

    .chTxt{
        font-size: 14px;
        top: 42;
    }

    .menu_bar ul li:hover span.enTxt{
        top: -39px;
    }

    .menu_bar ul li:hover span.chTxt{
        top: -8px;
    }
}

@media (max-width: 900px){
    .menu_bar{
        justify-content: end;
    }

    .menu_bar ul{
        display: none;
    }

    .menu_bar_menu{
        display: block;
    }

    .member{
        margin-right: 50px;
        margin-left: 30px;
    }
}

@media (max-width: 500px){
    .member{
        margin-right: 20px;
        margin-left: 10px;
    }
}

/* 首頁 */
.main_nav_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.main_nav{
    width: 90%;
    margin-top: 90px;
    display: flex;
}

.index_main_div{
    width: 80%;
    height: 80vh;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 20px;
    background-image: url("/images/fire_fighter.png");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.index_title{
    flex: none;
    margin-top: 180px;
}

.index_title > p{
    font-size: 50px;
    color: var(--title-font-color);
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
}

.index_small_title > p{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
}

.second_floor_divide{
    margin-top: 100px;
    width: 100%;
    height: 800px;
    background-color: var(--area-background);
}

.second_floor_divide img{
    width: 100%;
    
}



/* e學中心登入CSS */
.elearn_bulletin{
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 60px;
    background-color: var(--bulletin-background-color);
    color: var(--bulletin-font-color);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.elearn_login_area{
    margin-top: 30vh;
    padding: 20px;
    flex: none;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
}

.elearn_login_title{
    font-size: 20px;
    font-weight: 800;
    color: var(--title-font-color);
    text-align: center;
}

.elearn_login_form > div{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.elearn_login_form input[type=radio], .elearn_login_form label{
    cursor: pointer;
}

.elearn_login_form input[type=text] ,input[type=password]{
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--body-font-color);
    background-color: var(--area-background);
    color: var(--body-font-color);
    padding-left: 15px;
    padding-right: 15px;
}

.elearn_login_user_icon{
    background-image: var(--elearn-login-user-icon);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: relative;
    left: -30px;
}

.elearn_login_lock_icon{
    background-image: var(--elearn-login-lock-icon);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: relative;
    left: -30px;
}

.elearn_login_button{
    display: flex;
    justify-content: right;
}

.elearn_login_button > div{
    display: flex;
    justify-content: center;
    flex: auto;
}

.elearn_login_button > div > a{
    font-size: 14px;
    text-decoration: underline;
}

.elearn_login_button > div > a:hover{
    color: var(--button-hover-background);
    text-decoration: underline;
}

.elearn_login_button input{
    padding: 7px;
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
    width: 50%;
    
}

.elearn_login_button input:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.elearn_login_button input:active{
    transform: translateY(-2px) scale(0.98);
}

.login_error{
    color: var(--course-list-red-font);
}

/* e學中心CSS */
.left_area{
    flex: none;
    width: 600px;
    margin-bottom: 40px;
}

.left_top_area{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user_area{
    flex: none;
    width: 42%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 3%;
}

.user_area > div{
    text-align: center;
}

.user_title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--title-font-color);
    text-align: center;
}

.user_list{
    text-align: center;
    margin-top: 10px;
}

.user_list tbody tr td:nth-of-type(2n){
    width: 70px;
}

.user_button_div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.user_button_div > button, .user_button_div > form > input[type=submit]{
    width: 110px;
    padding: 6px;
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
}

.user_button_div > button:hover, .user_button_div > form > input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.user_button_div > button:active, .user_button_div > form > input[type=submit]:active{
    transform: translateY(-2px) scale(0.98);
}

.kingdom_area{
    flex: none;
    width: 42%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 3%;
}

.kingdom_title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--title-font-color);
    text-align: center;
}

.kingdom_coin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.kingdom_coin_img{
    flex: none;
    width: 30px;
}

.kingdom_coin_text{
    flex: none;
    margin-left: 10px;
    color: #F78F10;
    font-size: 18px;
    font-weight: 600;
}

.kingdom_img_div{
    display: flex;
    justify-content: center;
}

.kingdom_img{
    flex: none;
    width: 170px;
    height: 170px;
}

.tool_area{
    width: 94%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 3%;
    margin-top: 20px;
}


.tool_area form{
    width: 100%;
}


.tool_area form:nth-child(n+2){
    border-top: 1px solid var(--button-background);
    margin-top: 30px;
    padding-top: 20px;
}

.tool_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tool_ch_title{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--title-font-color);
    text-align: center;
}

.tool_en_title{
    width: 60%;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    color: var(--en-title-font-color);
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

.tool_text{
    margin-top: 15px;
    text-align: center;
}


.tool_button_div{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.tool_button_div input[type="submit"]{
    width: 40%;
    padding: 7px;
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
}

.tool_button_div input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.tool_button_div input[type="submit"]:active{
    transform: translateY(-2px) scale(0.98);
}

.search_courses_area{
    width: 94%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 3%;
    margin-top: 20px;
}

.search_courses_input_area{
    width: 100%;
}

.search_courses_text{
    text-align: center;
}

.search_courses_key{
    font-size: 18px;
    font-weight: 600;
    color: var(--title-font-color);
    margin-bottom: 5px;
}

.search_courses_key:nth-child(n + 2){
    margin-top: 15px;
}

.search_courses_tips{
    font-size: 14px;
    color: var(--body-font-color);
    margin-top: 5px;
}

.search_courses_time{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.search_courses_time_table{
    display: table;
    width: 46%;
}

.search_courses_hours{
    display: inline-block;
    width: 25%;
    height: 30px;
    padding: 1px 2px 1px 2px;
    background-color: var(--body-background);
    border: 1px solid var(--body-font-color);
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    white-space: nowrap;
    line-height: 30px;

}

.search_courses_to{
    width: 2%;
    height: 100%;
    line-height: 30px;
    text-align: center;
}

.search_courses_input_area input[type=text]{
    width: 98%;
    height: 30px;
    color: var(--body-font-color);
    background-color: var(--area-background);
    border: 1px solid var(--body-font-color);
    border-width: 1px;
    border-radius: 4px;
    padding-left: 5px;
}

.search_courses_input_area input[type=number]{
    width: 70%;
    height: 30px;
    background-color: var(--area-background);
    text-align: center;
    margin: 0;
    border: 1px solid var(--body-font-color);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 16px;
    color: var(--body-font-color);
}

.search_courses_input_area select{
    width: 100%;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 4px;
    background-color: var(--area-background);
    color: var(--body-font-color);
}

.search_courses_button_area{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.search_courses_button{
    width: 110px;
    padding: 6px;
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
}

.search_courses_button:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.recommend_courses_button, .join_courses_by_count_button, .cancel_courses_button{
    width: 120px;
    padding: 6px;
    background-color: var(--body-background);
    color: var(--body-font-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
    margin-left: 10px;
}

.recommend_courses_button:hover, .join_courses_by_count_button:hover, .cancel_courses_button:hover{
    cursor: pointer;
    background-color: var(--area-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.search_courses_button:active, .recommend_courses_button:active, .join_courses_by_count_button:active, .cancel_courses_button:active{
    transform: translateY(-2px) scale(0.98);
}

.search_courses_list{
    border-top: 1px solid var(--button-background);
    margin-top: 30px;
    padding-top: 20px;
}

.search_courses_list table{
    width: 100%;
    text-align: center;
}

.search_courses_list table tr td, .search_courses_list table tr th{
    padding: 5px;
    height: 30px;
}

.search_courses_list table > thead{
    font-size: 16px;
    white-space: nowrap;
}

.search_courses_list table > tbody > tr > td:nth-child(1){
    white-space: nowrap;
}

.search_courses_list table > tbody > tr:nth-child(2n + 1) > td{
    background-color: var(--course-list-odd-background);
}

.search_courses_list table button{
    width: 100%;
    cursor: pointer;
    background-color: var(--button-hover-background);
    border: 1px solid var(--body-font-color);
    color: var(--body-light-font-color);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    transition: .1s;
}

.search_courses_list table button:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.search_courses_list table button:active{
    transform: translateY(-2px) scale(0.98);
}



.select_courses_page_area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.select_courses_this_page{
    display: inline-block;
    width: 15px;
    height: 15px;
    color: var(--select-courses-this-page-font-color);
    font-weight: 600;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border-radius: 50px;
    background-color: var(--select-courses-this-page-background-color);
}

.select_courses_page{
    width: 15px;
    height: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 15px;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
}

.select_courses_page:hover{
    background-color: var(--select-courses-this-page-background-color);
    color: var(--select-courses-this-page-font-color);
}

.select_courses_page:active{
    transform: scale(0.9) translateY(-2px);
}

.right_area{
    flex: auto;
    margin-left: 20px;
    margin-bottom: 40px;
}

.course_area{
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 20px;
}

.course_list{
    text-align: center;
    width: 100%;
}

.course_list thead{
    font-size: 18px;
    white-space: nowrap;
}

.course_list tbody tr td{
    padding: 5px;
    border: 3px var(--area-background) solid;
}

.course_list tbody tr:nth-child(2n+1){
    background-color: var(--course-list-odd-background);
}

.course_list tbody tr td:nth-child(1){
    width: 60px;
}

.course_list tbody tr td:nth-child(1) img{
    width: 40px;
}

.course_list tbody tr td:nth-child(3){
    width: 150px;
}

.course_list tbody tr td:nth-child(n+4){
    width: 60px;
}

.course_rss_red{
    color: var(--course-list-red-font);
}

.message_list{
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 20px;
    margin-top: 20px;
    min-height: 30px;
    
}

.message_list div{
    padding: 5px;
}

.float-gray-screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.float-screen{
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 20px;
    position: fixed;
    width: auto;
    height: auto;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column ;
    justify-self: center;
    align-items: center;
}


.float-screen > p{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: var(--title-font-color);
    line-height: 40px;
    margin: 0px;
    text-align: center;
    border-bottom: 1px solid var(--body-font-color);
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.float-screen > p > icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: var(--elearn-float-nav-close-icon);
    background-size: 20px 20px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    position: relative;
    left: 40%;
}

.float-screen > p > icon:hover{
    background-color: var(--body-background);
    border-radius: 100px;
    cursor: pointer;
}

.float-screen table tr td{
    border: 3px var(--area-background) solid;
    font-size: 14px;
}

.float-screen table tr td:nth-child(2){
    width: 60px;
    text-align: right;
    padding-left: 30px;
}

@media (max-width: 1300px){
    body{
        font-size: 14px;
    }
    .main_nav{
        width: 97%;
    }

    .left_area{
        width: 500px;
    }

    .user_title, .kingdom_title, .kingdom_coin_text{
        font-size: 16px;
    }

    .user_button_div > button {
        width: 90px;
        font-size: 12px;
        letter-spacing: 0;
    }

    .kingdom_img{
        width: 140px;
        height: 140px;
    }

    .right_area{
        margin-left: 20px;
    }

    .course_list tbody tr td:nth-child(2){
        width: 80px;
    }
    
}

@media (max-width: 900px){
    .main_nav{
        flex-direction: column;
        width: 95%;
    }

    .index_main_div{
        width: auto;
    }

    .left_area{
        flex: none;
        width: 100%;
        margin-bottom: 0;
    }

    .search_courses_hours{
        width: 24%;
    }

    .right_area{
        flex: none;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .float-screen{
        width: 90%;
    }
}

@media (max-width: 500px){
    .main_nav{
        width: 100%;
    }

    .user_title{
        font-size: 14px;
        letter-spacing: 0;
    }

    .user_list tbody tr td:nth-child(2){
        width: 30px;
    }
    
    .user_button_div{
        margin-top: 10px;
    }

    .search_courses_hours{
        width: 20%;
    }

}

@media (max-width: 400px){
    .tool_button_div input[type="submit"]{
        font-size: 12px;
        letter-spacing: 0;
    }

}


/* 智能系統 */
.kingdom_area form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.kingdom_area input[type=submit]{
    width: 100px;
    padding: 6px;
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
}

.kingdom_area input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.kingdom_area input[type=submit]:active{
    transform: translateY(-2px) scale(0.98);
}

.go_back_area{
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    width: 42%;
    padding: 3%;
    margin-top: 20px;
    text-align: center;
}

.go_back_area > form > div{
    margin-bottom: 10px;
}

.car_examine_area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 3%;
    margin-top: 20px;
    
}


.ambulace_examine_area{
    width: 94%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 3%;
    margin-top: 20px;
    text-align: center;
}


.ambulace{
    display: flex;
    justify-content: space-around;
}

.this_ambulace_page{
    width: 180px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    color: var(--button-hover-background);
    font-weight: bold;
}

.ambulace_page{
    width: 180px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    cursor: pointer;
}

.ambulace_page:hover{
    color: var(--button-hover-background);
    font-weight: bold;
}


.ambulace div{
    border-left: 1px solid var(--body-font-color);
    border-right: 1px solid var(--body-font-color);
}

.show_ambulace > div{
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid var(--body-font-color);
    color: var(--title-font-color);
    font-size: 18px;
}

.ambulace_examine, .AED_examine, .glucose_examine{
    width: 100%;
}


.ambulace_examine tr:nth-child(2n+1) td, .AED_examine tr:nth-child(2n+1) td, .glucose_examine tr:nth-child(2n+1) td{
    background-color: var(--course-list-odd-background);
}

.ambulace_examine thead tr th{
    width: 33%;
}

.ambulace_table_error{
    color: var(--ambulace-table-error-font-color);
}

.daily_bulletin_area{
    width: 94%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 3%;
    
}

.daily_bulletin_area table{
    width: 100%;
}

.daily_bulletin_area table thead{
    text-align: center;
    white-space: nowrap;
}

.daily_bulletin_area table tr td{
    border: 3px solid var(--area-background);
    padding: 5px;
}

.daily_bulletin_area table tbody tr:nth-child(2n + 1) td{
    background-color: var(--course-list-odd-background);
}

.daily_bulletin_area table thead tr th:nth-child(1), .daily_bulletin_area table thead tr th:nth-child(2), .daily_bulletin_area table thead tr th:nth-child(4){
    width: 80px;
}

.daily_bulletin_area table tbody tr td:nth-child(1) button{
    width: 66px;
    padding: 6px;
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
}

.daily_bulletin_area table tbody tr td:nth-child(1) button:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.daily_bulletin_area table tbody tr td:nth-child(1) button:active{
    transform: translateY(-2px) scale(0.98);
}

.daily_bulletin_area table tbody tr td:nth-child(3)[content_type="0"]:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.float_iframe{
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: var(--area-background);

}

.columnheader{
    background-color: var(--course-list-odd-background);
}



/* Json Viewer */

.json_viewer_left_area{
    width: 600px;
    margin-top: 30px;
}

.json_input{
    width: 95%;
    height: 700px;
    color: var(--body-font-color);
    background-color: var(--area-background);
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 2%;
}


.json_viewer_right_area{
    width: 800px;
    margin-left: 80px;
    margin-top: 30px;
}

.json_viewer_title{
    color: var(--title-font-color);
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

#json-renderer{
    margin-top: 30px;
}


.json_viewer_button_area{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.json_black_button{
    padding: 7px;
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 16px;
    letter-spacing: 0.5px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
    width: 185px;
    
}

.json_black_button:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.json_black_button:active{
    transform: translateY(-2px) scale(0.98);
}

.json_white_button{
    padding: 7px;
    background-color: var(--body-background);
    color: var(--body-font-color);
    font-size: 16px;
    letter-spacing: 0.5px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
    width: 185px;
}

.json_white_button:hover{
    cursor: pointer;
    background-color: var(--area-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.json_white_button:active{
    transform: translateY(-2px) scale(0.98);
}

@media (max-width: 1000px){
    .json_viewer_left_area{
        width: 100%;
    }

    #json-input{
        height: 200px;
    }

    .json_viewer_right_area{
        width: 100%;
        margin-left: 0;
    }

    .json_viewer_right_area{
        width: 100%;
    }

    .json_viewer_right_area li{
        white-space: normal;
    }
}


/* 聯絡我們CONTACT */

.contact_us_area{
    width: 80%;
    padding: 5%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    font-weight: 500;
}

.contact_us_area form{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.contact_left{
    display: flex;
    width: 45%;
}

.contact_right{
    display: flex;
    width: 45%;
    margin-left: 5%;
}

.contact_title{
    width: 40%;
}

.contact_title > div:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}

.contact_title > div:nth-child(2){
    font-size: 27px;
    font-weight: bold;
}

.contact_input{
    width: 60%;
}

.contact_input label{
    font-weight: 600;
}

.contact_input label > img{
    height: 16px;
    margin-right: 10px;
}

.contact_input label > span{
    color: var(--course-list-red-font);
    font-size: 18px;
}

.contact_input > select{
    width: 100%;
    height: 30px;
    color: var(--body-font-color);
    border: none;
    border-bottom: 1px solid var(--body-font-color);
    background-color: var(--area-background);
    cursor: pointer;
    margin: 7px 0 20px 0;
}

.contact_input > textarea{
    display: block;
    width: 100%;
    color: var(--body-font-color);
    border: none;
    border-bottom: 1px solid var(--body-font-color);
    background-color: transparent;
    margin: 5px 0 20px 0;
}

.contact_input > input{
    display: block;
    width: 100%;
    height: 30px;
    color: var(--body-font-color);
    border: none;
    border-bottom: 1px solid var(--body-font-color);
    background-color: transparent;
    margin: 5px 0 20px 0;
}

.contact_input > input[type=submit]{
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
    width: 50%;
    float: right;
    margin: 10px 0 0 0;
}

.contact_input > input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.contact_input > input[type=submit]:active{
    transform: translateY(-2px) scale(0.98);
}

@media (max-width: 1400px){
    .contact_us_area form{
        flex-wrap: wrap;
        
    }
    
    .contact_left{
        width: 95%;
    }
    
    .contact_right{
        width: 95%;
        margin-left: 0;
        margin-top: 5%;
    }
}

@media (max-width: 650px){
    .contact_us_area form{
        font-size: 14px;
    }

    .contact_title > div:nth-child(1){
        font-size: 18px;
    }

    .contact_title > div:nth-child(2){
        font-size: 16px;
    }

    .contact_input label > span{
        font-size: 14px;
    }

    .contact_input > input[type=submit]{
        font-size: 14px;
    }

    .contact_left, .contact_right{
        flex-wrap: wrap;
    }

    .contact_title{
        width: 100%;
    }

    .contact_input{
        width: 100%;
        margin-top: 10%;
    }
    
}


/* 隱私政策 */
.privacy_area{
    width: 80%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 5%;
    
}

.privacy_title{
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.privacy_area > ul{
    margin: 0;
}

.privacy_area > ul > li{
    margin-top: 10px;
}






/* Comic */

.comic_index_main_div{
    width: 80%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
}

.comic_category{
    padding: 20px;
}

.comic_category_title{
    font-size: 24px;
    padding-left: 30px;
}

.comic_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.comics-card{
    width: 20%;
    margin: 0 5px 15px 5px;
}


.comics-card img{
    width: 100%;
}

.comic_main_div{
    width: 80%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 20px;
}

.title_box{
    display: flex;
}

.title_box img{
    height: 300px;    
}

.title_box_title{
    font-size: 25px;
    font-weight: 600;
}

.title_box > div > div{
    margin: 20px;
}

.comic_chapter_sort{
    display: flex;
    justify-content: end;
    margin: 30px 20px 0 20px;
}

.comic_chapter_sort > div{
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.comic_chapter_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.comic_chapter{
    width: 23%;
    height: 40px;
    padding: 3px 20px 3px 20px;
    margin-bottom: 15px;
    border: var(--body-font-color) 1px solid;
    border-radius: 6px;
    line-height: 40px;
    white-space: nowrap;
}

.comic_detail_main_div{
    width: 80%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic_detail_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.comic_detail_page_div{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.comic_detail_page_div a{
    font-size: 20px;
}

.comic_detail_page_div a:hover{
    font-weight: 600;
    color: var(--course-list-red-font);
}

@media (max-width: 1300px) {

    .comic_detail_main_div img{
        width: 80vw;
    }
}

@media (max-width: 900px){
    .comic_index_main_div{
        width: auto;
        font-size: 16px;
    }

    .comics-card{
        font-size: 16px;
    }

    .title_box{
        display: block;
        font-size: 14px;
    }

    .title_box_title{
        font-size: 16px;
    }

    .comic_main_div{
        width: auto;
    }

    .comic_detail_main_div{
        width: auto;
    }

    .comic_detail_page_div a{
        font-size: 16px;
    }

    .comic_detail_main_div img{
        width: 100%;
    }
}

@media (max-width: 500px){
    .comic_index_main_div{
        font-size: 14px;
    }

    .comic_category_title{
        font-size: 20px;
    }

    .comics-card{
        width: 29%;
    }

    .comic_chapter{
        width: 35%;
        font-size: 12px;
    }
}