/* 顏色設定 */
:root{
    --body-background: #eaefe6;
    --body-font-color: #666666;
    --body-font-opposite-color: #ffffff;
    --body-light-font-color: #ffffff;
    --menu-background: #a7c3a7;
    --menu-select-font-color: #333333;
    --bulletin-font-color: #a94442;
    --bulletin-background-color: #f2dede;
    --area-background: #fcfcfc;
    --title-font-color: #333333;
    --en-title-font-color:#666666;
    --table-head-background: #809186;
    --table-list-odd-background: #eaefe6;
    --course-list-red-font: #f78da7;
    --button-background: #809186;
    --button-hover-background: #A9C3A7;
    --button-shadow: #cccccc;
    --elearn-login-user-icon: url("/images/user.png");
    --elearn-login-lock-icon: url("/images/lock.png");
    --elearn-float-nav-close-icon: url("/images/close.png");
    --select-courses-this-page-background-color: #A9C3A7;
    --select-courses-this-page-font-color: #ffffff;
    --ambulace-table-error-font-color: #f78da7;

}

/* 深色模式顏色設定 */
html[data-theme=dark]{
    --body-background: #111111;
    --body-font-color: #CFCFD1;
    --body-font-opposite-color: #666666;
    --menu-background: #363636;
    --menu-select-font-color: #96b97d;
    --table-head-background: #CFCFD1;
    --bulletin-font-color: #f2dede;
    --bulletin-background-color: #7c3331;
    --area-background: #242424;
    --title-font-color: #96b97d;
    --en-title-font-color: #527539;
    --table-list-odd-background: #363636;
    --course-list-red-font: rgb(197, 54, 54);
    --button-background: #363636;
    --button-hover-background: #565656;
    --button-shadow: #323232;
    --elearn-login-user-icon: url("/images/user_white.png");
    --elearn-login-lock-icon: url("/images/lock_white.png");
    --elearn-float-nav-close-icon: url("/images/close_white.png");
    --select-courses-this-page-background-color: #363636;
    --select-courses-this-page-font-color: #96b97d;
}




body{
    justify-content: center;
    background-color: var(--body-background);
    font-family: "Montserrat", "Noto Sans TC", Helvetica, Arial, "微軟正黑體", Heiti TC, "メイリオ", sans-serif;
    font-size: 16px;
    color: var(--body-font-color);
    margin: 0;
}

a, a:visited{
    text-decoration: none;
    color: var(--body-font-color);
}

body nav{
    display: flex;
    justify-content: center;
}


/* 選單列 */
.menu_bar{
    position: fixed;
    background-color: var(--menu-background);
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    z-index: 100;
}

.menu_bar ul{
    flex: none;
    display: flex;
    width: 60%;
    height: 50px;
    margin: 0;
}

.menu_bar ul li{
    width: 150px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.menu_bar ul li a{
    width: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: var(--menu-select-font-color);
}

.enTxt{
    text-align: center;
    position: relative;
    display: block;
    flex: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    top: 15px;
    transition: top 0.3s ease-out;
    color: var(--body-font-color);
    white-space:nowrap;
}

.chTxt{
    text-align: center;
    position: relative;
    display: block;
    flex: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    top: 39px;
    transition: top 0.3s ease-out;
    color: var(--body-font-color);
    white-space:nowrap;
}

.menu_bar ul li:hover span.enTxt{
    top: -35px;
}

.menu_bar ul li:hover span.chTxt{
    top: -11px;
}

.menu_bar_menu{
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("/images/menu.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.member{
    margin-left: 100px;
    display: flex;
    align-items: center;
}

#lightSwitch{
    display: flex;
    flex: none;
    width: 52px;
    height: 26px;
    border-radius: 100px;
    align-items: center;
    background-color: var(--area-background);
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

#buttonSunMoon{
    display: flex;
    background-image: url("/images/moon.svg"), url("/images/sun.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 0px, 22px;
    position: relative;
    width: 42px;
    height: 18px;
    
}


#lightSwitchButton{
    background-color: var(--body-font-color);
    width: 18px;
    height: 18px;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
    left: 0;
}

#lightSwitchButton[data-theme=dark]{
    left: 22px;
    transition: 0.3s;
}

.menu_gray_screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.menu_bar_right_area{
    position: fixed;
    background-color: var(--area-background);
    width: 200px;
    left: 100%;
    top: 60px;
    transform: translateX(-100%);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
    z-index: 1;
}

.menu_bar_right_area ul{
    margin: 0;
    padding-inline-start: 0;
}


.menu_bar_right_area ul li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}



.menu_bar_right_area ul li a:hover{
    color: var(--button-hover-background);
}

@media (max-width: 1300px) {
    .menu_bar ul li{
        width: 120px;
    }
    
    .menu_bar ul li a{
        font-size: 14px;
    }

    .enTxt{
        font-size: 14px;
        top: 11px;
    }

    .chTxt{
        font-size: 14px;
        top: 42;
    }

    .menu_bar ul li:hover span.enTxt{
        top: -39px;
    }

    .menu_bar ul li:hover span.chTxt{
        top: -8px;
    }
}

@media (max-width: 900px){
    .menu_bar{
        justify-content: end;
    }

    .menu_bar ul{
        display: none;
    }

    .menu_bar_menu{
        display: block;
    }

    .member{
        margin-right: 50px;
        margin-left: 30px;
    }
}

@media (max-width: 500px){
    .member{
        margin-right: 20px;
        margin-left: 10px;
    }
}

/* 首頁 */
.main_nav_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.main_nav{
    width: 90%;
    margin-top: 90px;
    display: flex;
}

.index_main_div{
    width: 80%;
    height: 80vh;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 20px;
    background-image: url("/images/fire_fighter.png");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.index_title{
    flex: none;
    margin-top: 180px;
}

.index_title > p{
    font-size: 50px;
    color: var(--title-font-color);
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
}

.index_small_title > p{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
}

.second_floor_divide{
    margin-top: 100px;
    width: 100%;
    height: 800px;
    background-color: var(--area-background);
}

.second_floor_divide img{
    width: 100%;
    
}



/* Json Viewer */

.json_viewer_left_area{
    width: 600px;
    margin-top: 30px;
}

.json_input{
    width: 95%;
    height: 700px;
    color: var(--body-font-color);
    background-color: var(--area-background);
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 2%;
}


.json_viewer_right_area{
    width: 800px;
    margin-left: 80px;
    margin-top: 30px;
}

.json_viewer_title{
    color: var(--title-font-color);
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

#json-renderer{
    margin-top: 30px;
}


.json_viewer_button_area{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.json_black_button{
    padding: 7px;
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 16px;
    letter-spacing: 0.5px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
    width: 185px;
    
}

.json_black_button:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.json_black_button:active{
    transform: translateY(-2px) scale(0.98);
}

.json_white_button{
    padding: 7px;
    background-color: var(--body-background);
    color: var(--body-font-color);
    font-size: 16px;
    letter-spacing: 0.5px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
    width: 185px;
}

.json_white_button:hover{
    cursor: pointer;
    background-color: var(--area-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.json_white_button:active{
    transform: translateY(-2px) scale(0.98);
}

@media (max-width: 1000px){
    .json_viewer_left_area{
        width: 100%;
    }

    #json-input{
        height: 200px;
    }

    .json_viewer_right_area{
        width: 100%;
        margin-left: 0;
    }

    .json_viewer_right_area{
        width: 100%;
    }

    .json_viewer_right_area li{
        white-space: normal;
    }
}




/* SQLite Viewer */
.sqlite_title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sqlite_sidebar{
    width: 250px; /* 設定左側欄位的固定寬度 */
    border-right: 1px solid #ddd;
    padding: 0 10px 20px 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sqlite_table{
    border-collapse: collapse;
    width: 100%;
}

.sqlite_table > details{
    margin-bottom: 10px;
}

.sqlite_table > details > summary > img{
    width: 20px;
    transform: translate(10px, 5px);
    cursor: pointer;
}

.sqlite_table > details > div{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 14px;
}

.sqlite_table > details > div > span{
    padding: 2px;
    margin-left: 5px;
    border: var(--body-font-color) solid 1px;
    background-color: var();
}

.sqlite_main{
    flex-grow: 1;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    min-width: 400px; /* 設定右側欄位的最小寬度 */
    max-width: 1600px;
}

.sqlite_main textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.sqlite_button_div > button{
    margin: 5px;
}

.sqlite_output{
    height: 70vh;
    overflow-y: auto;
    margin-top: 20px;
    background-color: var(--area-background);
    border: var(--body-font-color) solid 1px;
}

.sqlite_output table{
    width: 100%;
}

.sqlite_output thead{
    position: sticky;
    top: 0;
}

.sqlite_output thead > tr > th{
    padding: 10px;
    background-color: var(--area-background);
}

.sqlite_output tbody > tr > td{
    padding: 10px;
    max-width: 250px;
    white-space: nowrap;        /* 文字不換行 */
    overflow: hidden;           /* 超出邊界隱藏 */
    text-overflow: ellipsis;    /* 多的文字以...表示 */
}

.sqlite_output tbody > tr:nth-child(2n+1){
    background-color: var(--table-list-odd-background);
}



/* 聯絡我們CONTACT */

.contact_us_area{
    width: 80%;
    padding: 5%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    font-weight: 500;
}

.contact_us_area form{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.contact_left{
    display: flex;
    width: 45%;
}

.contact_right{
    display: flex;
    width: 45%;
    margin-left: 5%;
}

.contact_title{
    width: 40%;
}

.contact_title > div:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}

.contact_title > div:nth-child(2){
    font-size: 27px;
    font-weight: bold;
}

.contact_input{
    width: 60%;
}

.contact_input label{
    font-weight: 600;
}

.contact_input label > img{
    height: 16px;
    margin-right: 10px;
}

.contact_input label > span{
    color: var(--course-list-red-font);
    font-size: 18px;
}

.contact_input > select{
    width: 100%;
    height: 30px;
    color: var(--body-font-color);
    border: none;
    border-bottom: 1px solid var(--body-font-color);
    background-color: var(--area-background);
    cursor: pointer;
    margin: 7px 0 20px 0;
}

.contact_input > textarea{
    display: block;
    width: 100%;
    color: var(--body-font-color);
    border: none;
    border-bottom: 1px solid var(--body-font-color);
    background-color: transparent;
    margin: 5px 0 20px 0;
}

.contact_input > input{
    display: block;
    width: 100%;
    height: 30px;
    color: var(--body-font-color);
    border: none;
    border-bottom: 1px solid var(--body-font-color);
    background-color: transparent;
    margin: 5px 0 20px 0;
}

.contact_input > input[type=submit]{
    background-color: var(--button-background);
    color: var(--body-light-font-color);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    transition: .1s;
    width: 50%;
    float: right;
    margin: 10px 0 0 0;
}

.contact_input > input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(-2px);
    box-shadow: 2px 2px 6px 2px var(--button-shadow);
}

.contact_input > input[type=submit]:active{
    transform: translateY(-2px) scale(0.98);
}

@media (max-width: 1400px){
    .contact_us_area form{
        flex-wrap: wrap;
        
    }
    
    .contact_left{
        width: 95%;
    }
    
    .contact_right{
        width: 95%;
        margin-left: 0;
        margin-top: 5%;
    }
}

@media (max-width: 650px){
    .contact_us_area form{
        font-size: 14px;
    }

    .contact_title > div:nth-child(1){
        font-size: 18px;
    }

    .contact_title > div:nth-child(2){
        font-size: 16px;
    }

    .contact_input label > span{
        font-size: 14px;
    }

    .contact_input > input[type=submit]{
        font-size: 14px;
    }

    .contact_left, .contact_right{
        flex-wrap: wrap;
    }

    .contact_title{
        width: 100%;
    }

    .contact_input{
        width: 100%;
        margin-top: 10%;
    }
    
}


/* 隱私政策 */
.privacy_area{
    width: 80%;
    background-color: var(--area-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    padding: 5%;
    
}

.privacy_title{
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.privacy_area > ul{
    margin: 0;
}

.privacy_area > ul > li{
    margin-top: 10px;
}


